<nav id="side-nav">
    <div class="list-group">
        <a href="/mix-it/drinks/popular" class="list-group-item list-group-item-action">Popular</a>
        <a href="/mix-it/drinks/new" class="list-group-item list-group-item-action">New</a>
        <a href="/mix-it/drinks/random" class="list-group-item list-group-item-action">Random</a>
        <a class="list-group-item list-group-item-action" onClick="toggleIcon()" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
            Category
            <svg class="arrow-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M0 7.33l2.829-2.83 9.175 9.339 9.167-9.339 2.829 2.83-11.996 12.17z"/></svg>
        </a>
            <div class="collapse" id="collapseExample">
                <div class="list-group drawer-container">
                    <a href="/mix-it/drinks/category/Ordinary_Drink" class="list-group-item list-group-item-action">Ordinary Drink</a>
                    <a href="/mix-it/drinks/category/Cocktail" class="list-group-item list-group-item-action">Cocktail</a>
                    <a href="/mix-it/drinks/category/Shake" class="list-group-item list-group-item-action">Shake</a>
                    <a href="/mix-it/drinks/category/Shot" class="list-group-item list-group-item-action">Shot</a>
                    <a href="/mix-it/drinks/category/Coffee_+_Tea" class="list-group-item list-group-item-action">Coffee / Tea</a>
                    <a href="/mix-it/drinks/category/Beer" class="list-group-item list-group-item-action">Beer</a>
                    <a href="/mix-it/drinks/category/Soft_Drink" class="list-group-item list-group-item-action">Soft Drink</a>
                    <a href="/mix-it/drinks/category/Punch_+_Party_Drink" class="list-group-item list-group-item-action">Punch / Party Drink</a>
                    <a href="/mix-it/drinks/category/Homemade_Liqueur" class="list-group-item list-group-item-action">Homemade Liqueur</a>
                    <a href="/mix-it/drinks/category/Other_+_Unknown" class="list-group-item list-group-item-action">Other / Unknown</a>
                </div>
            </div>
        <a href="#" class="list-group-item list-group-item-action">Filter</a>
    </div>
</nav>