/* #0B132B
#1C2541
#3A506B
#5BC0BE
#6FFFE9 */

#main-cont {
  background-color: #0b132b;
  color: var(--bs-white);
  min-height: calc(100vh - 4rem);
}

#top-nav {
  display: flex;
  background-color: #0b132b;
  color: white;
  height: 4rem;
  width: 100%;
}

.navbar-brand {
  font-weight: 700;
}

.navbar-brand,
.nav-link {
  color: #6fffe9 !important;
}
.navbar-brand:hover,
.nav-link:hover {
  color: #5bc0be !important;
}

.dropdown-menu {
  background-color: #0b132b !important;
  border: none !important;
}

.dropdown-item {
  color: #6fffe9 !important;
}
.dropdown-item:hover {
  background-color: #1c2541 !important;
}

#search-bar {
  border: 1px solid #6fffe9;
  background-color: #3a506b;
  color: white;
}

#search-bar::placeholder {
  color: lightgrey;
}

#searchBtn {
  border: 2px solid #6fffe9 !important;
  color: #6fffe9;
}

#searchBtn:hover {
  background-color: #1c2541;
  color: white;
}

.navbar-toggler-icon {
  fill: #6fffe9;
}

.navbar-toggler:focus {
  outline: 1px solid #5bc0be;
  box-shadow: none !important;
}

#screen-cont {
  display: flex;
  background-color: #0b132b;
  color: white;
}

#nav-search {
  align-self: center;
  margin: 0 auto;
}

.thumb-card {
  width: 35vw;
  cursor: pointer;
  transition: all 500ms;
}

@media only screen and (min-width: 577px) {
  .thumb-card {
    width: 200px;
  }
}

.thumb-card:hover {
  background-color: rgba(58, 80, 107, 0.3);
}
