#drinkCount {
  color: #3a506b;
}

.page-nav {
  margin: 3rem auto 5rem auto;
}
.pagination {
  justify-content: center;
}

.page-link {
  background-color: #61e5d1;
  border: none;
  color: #0b132b;
  cursor: pointer;
}
.page-link:hover {
  background-color: #6fffe9;
}

.active-page {
  background-color: #6fffe9;
  border: none;
  color: #0b132b;
  cursor: pointer;
}

.active-page:hover {
  background-color: #3cf8dc;
}

.disabled-page {
  background-color: gray;
  border: none;
  color: lightgray;
  cursor: default;
}

.disabled-page:hover {
  background-color: gray;
  color: lightgray;
}
