.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.thumb-card {
  border-radius: 0.5rem;
  cursor: pointer;
  text-align: center;
  margin: 1rem;
  padding: 1rem;
}

.thumb-card:hover {
  background-color: lightgrey;
}

.img-thumb {
  border-radius: 100%;
}
